body{
    background-color: black;
}

input{
    width: 260px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    text-align: right;
}

button{
    margin: 0;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    size: 50px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 290px;
    margin: auto;
    margin-top: 100px;
}

#equal{
    width: 300px;
}